<%- partial('_partial/header', {
  headerType: 'index',
  post: post
}) %>
<article>
  <div class="container typo">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="post-info text-muted">
          <h1 class="title"><%- post.title %></h1>
          <!-- Date -->
          <span class="date-time info">
            <span class="date"><%- date(post.date, config.date_format) %></span>
          </span>
          <% if (post.categories && post.categories.length){ %>
          <!--  Categories  -->
            <span class="categories info">Under <%- partial('categories', {categories: post.categories}) %></span>
          <% } %>
        </div>
        <!-- Tags -->
        <% if (post.tags && post.tags.length) { %>
          <div class="post-tags text-muted">
            <%- partial('tags', {tags: post.tags, tagHash: true}) %>
          </div>
        <% } %>
        <!-- Post Main Content -->
        <div class="post-content">
          <%- post.content %>
        </div>
        <div class="post-share">
            <a href="https://twitter.com/intent/tweet?text=<%- urlEncode(page.title) %>%20%7C%20<%-  urlEncode(config.title) %>&url=<%- post.permalink %>" class="share-button share-twitter" target="_blank"><i class="fab fa-twitter"></i>Tweet</a>
        </div>
        <% if (config.disqus_shortname){ %>
          <div class="post-comment">
            <div id="disqus_thread">
              <noscript>コメント機能を使うにはJavaScriptを有効にしてください。</noscript>
            </div>
          </div>
        <% } %>
      </div>
    </div>
  </div>
</article>
